/*regole generali*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  position: relative;
}
/*regole blocco slider*/
.slider-wrapper {
  height: 80vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
/*regole immagini*/
.images {
  width: 80%;
  height: 100%;
}
.images img {
  width: 100%;
  height: 100%;
  display: none;
  min-height: 500px;
}

/*regole navigazione*/
.nav {
  position: absolute;
  bottom:10px;
  left:45%;
}

.prev i, .next i {
  font-size: -webkit-xxx-large;
}
.images img.active {
  display: inline-block;
}
.nav i.active {
  color:red;
}
